@model EBANK.Models.Klijent

@{
    ViewData["Title"] = "Delete";
}

<h1>Brisanje klijenta</h1>

<h3>Jestte li sigurni da želite obrisati klijenta?</h3>
<div>
    <h4>Klijent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JMBG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JMBG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojLicneKarte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojLicneKarte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zanimanje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zanimanje)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KorisnickoIme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lozinka)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
